




*{
  font-size: 16px;
  box-sizing: border-box;


}

h2{
  font-size: 4.5rem;
  font-weight: 800;
}


h3{
  font-size: 2.5rem;
  font-weight: 400;

}

p{
  font-family: 'Mukta', 'sans-serif';
  font-size: 16px;
  color:hsl(0,  0%,  20%);
  line-height: 1.5rem;
}


h4{
  font-size: 1rem;
  font-weight: 500;
  font-stretch: 70%;
}

@media  only screen and (max-width:800px) {
  h2{
    font-size:2.5rem;
  }

  h3{
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4{
    font-size:0.75rem;
    
  }
  p{
    
      font-size: 1rem;
    }
}  


/* --------NAVIGATION BAR-------- */

/* ----NAVIGATION LINKS---- */

.desktop{
    position:fixed;
    z-index: 5;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-family: 'Mukta';
}

#header-nav{
    padding-right: 1.5rem;
    height: 100%;
    line-height:4rem;
}

#header-nav li{
    display:inline-block;
}

#header-nav ul{
   display:inline-block;
   vertical-align:middle;
   font-size: 1.25rem;
}


/* ----LOGO COLMAR ACADEMY---- */
#logo{
    padding-left: 24px;
    height: 100%;
    display:flex;
    align-items: center;
}

#logo span{
    color:gray;
}

#logo img{
  vertical-align: middle;
  height: 3rem;
  width:auto;
}

.logo-container{
  display:inline-block;
  vertical-align: middle;
}

.logo-text{
    font-size: 2rem;
  }


#header-nav .first,
#header-nav .second,
#header-nav .third {

    margin-right: 1rem;
    margin-left: 0rem;
    text-align: left;
}

.mobile{
  display:none;
}



@media only screen and (max-width:800px){


.desktop{
    display: none;
}

.mobile{
  position:fixed;
  z-index: 5;
  background-color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  font-family: 'Mukta';
  min-width:100px;
}
.mobile img{
  vertical-align:middle;
}
}







/* --------LEARN SOMETHING NEW EVERY DAY-------- */
.banner{
  position:relative;
  top: 0rem;
}


#banner-container{
    position: relative;

    top:0rem;
    padding:6rem 0rem 2rem 1.5rem;
    background-color:silver;
    display:flex;

    max-width:100%;

}

.banner-image{
    /* flex-basis: 60vw; */
    padding-right: 1.5rem;
    flex: 1 1 60vw;
    min-width: 60%;

}

.banner-text{
    flex-basis: 40vw;
    text-align: left;

    vertical-align: center;
    color:hsl(0,  0%,  20%);
    position: relative;
    display:flex;
    flex-direction: column;
    align-content: left;
    justify-content: center;
    font-family: "Mukta";
    padding-right: 9rem;
}

.banner-image img{
  max-width: 100%;
  height: auto;

}

.banner-text h2{

  padding-bottom: 3rem;

}

.banner-text h3{

  padding-bottom: 3rem;

}


.banner-text  a{
box-sizing: border-box;
color: hsl(0, 0% , 100%);
font-size: 2rem;
font-family: "mukta";
background-color:hsl(0,  0%,  20%);
text-align: center;
padding: .5rem 0rem;
line-height:1;
}


.orientation-mobile, .campus-mobile, .guest-mobile{
  display:none;
}

@media only screen and (max-width:800px){

  #banner-container{

    padding:4rem 0rem 0rem 0rem;
    flex-wrap: wrap;
  }

.banner-image{
  display:block;
  min-width: 100%;
  padding:0;
  height:auto;

}

.banner-image img{
  max-width:100%;
  height:auto;


}

.banner-text{
  flex-basis: 100%;
  text-align: left;

  
  color:hsl(0,  0%,  20%);
  position: relative;
  display:flex;
  flex-direction: column;
  font-family: "Mukta";
  padding: 2rem 1rem;
}

.banner-text h2{

  padding-bottom: 2rem;

}

.banner-text h3{

  padding-bottom: 1.5rem;

}

.banner-text  a{
  box-sizing: border-box;
  color: hsl(0, 0% , 100%);
  font-size: 1.25rem;
  font-family: "mukta";
  background-color:hsl(0,  0%,  50%);
  text-align: center;
  padding: .5rem 0rem;
  line-height:1;
  }




}
/* --------INFORMATION SECTION-------- */


.informations{
  position: relative;

  padding-left: 1.5rem;
  background-color:whitesmoke;
  display:flex;
  max-width:100%;

  /* border-bottom: 2rem whitesmoke solid; */

}


.informations-image{
  flex-basis: 60vw;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;




}



.informations-image img{

  max-width: 100%;
  height: auto;
  margin-bottom:2rem;

}

.informations-image .title{
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Mukta', 'sans-serif';
  color:hsl(0,  0%,  20%);
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
}

.informations-image h4{
  position:absolute;
  bottom: 0;
  padding-bottom: 2rem;


}

.more-info{
  flex-basis: 40vw;
  text-align: left;

  /* vertical-align: center; */
  color:hsl(0,  0%,  20%);
  position: relative;
  display:flex;
  flex-direction: column;
  align-content: left;
  justify-content: center;
  font-family: "Mukta";
  /* padding-right: 9rem; */
  width: 100%;
  border-left: 1px lightgrey solid;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.first-info{
  display:flex;
  padding: 0 1rem 1rem 1rem;
  align-items: center;
  border-bottom: 1px lightgrey solid;
  width:100%;
  margin-bottom:1px;
  /* flex-shrink: 1; */

}




.second-info, .third-info{
display:flex;
padding: 1rem;
width:100%;
/* flex-shrink: 1; */

}

.second-info {
  /* background-color: white; */
  align-items: center;
  border-top: 1px lightgrey solid;
  margin-top:1px;
}

.third-info {
  background-color: silver;
  align-items: center;
}



.more-info .image-container img {

  max-width: 100%;
  height: auto;

}

.orientation-text, .campus-text, .lecture-text{
flex-basis: 65%;
padding-left: 1.5rem;


}

.more-info .image-container{
  /* flex-basis: 35%; */
  flex: 1 1 35%;
  min-width: 35%;

}

.more-info p {
   line-height: 1.5rem;
}

.more-info h3{
  line-height: 3rem;

}

.more-info a{
  line-height: 1.5rem;
  color:blue;
}

@media only screen and (max-width:800px){



.informations{
  padding: 0;
}

.informations-image{
  display: none;
}

.more-info{
  flex-basis: 100%;
  text-align: left;

  /* vertical-align: center; */
  color:hsl(0,  0%,  20%);
  position: relative;
  display:flex;
  flex-direction: column;
  align-content: left;
  justify-content: center;
  font-family: "Mukta";
  /* padding-right: 9rem; */
  width: 100%;
  border-left: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px lightgrey solid;

}



.orientation-text, .campus-text, .lecture-text{
  flex-basis: 100%;
  padding-left: 1.5rem;
  
  
  }

  .first-info, .second-info, .third-info{
  flex-direction: column;
  align-items: stretch;
  border: none;
  margin-top:1px;
  background-color: whitesmoke;
  

}

.more-info .image-container{
  flex-basis:100%;
  display:none;
}

.more-info img{
  width: 100%;
  height: auto;
}

.orientation-mobile, .campus-mobile, .guest-mobile{
  display:block;
}


.orientation-text, .campus-text, .lecture-text{
  flex-basis: 100%;
  padding-left: 1rem;
   
  }



}

/* --------START LEARNGING SECTION-------- */

.start-learning{
  position:relative;
  font-family: "Mukta";
  background-color: lightgray;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;


}

.start-learning .title{

  display: block;
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Mukta', 'sans-serif';
  color:hsl(0,  0%,  20%);
  text-align: center;
  padding-bottom: 2rem;
}

.courses{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: center;
  align-items: flex-start;

  width: 100%;

  gap:2rem;

}

#software-engineer,
#computer-art,
#design,
#data,
#business,
#marketing {
  display:flex;
  flex-direction: column;
  min-width: 10rem;
  flex: 1 1 30%;
  }


.courses img{
  width: 100%;
  height: auto;
}


.start-learning-text{
display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 1rem;
}

.courses p{
  padding:0.25rem;
}

.courses h3{
  padding-bottom:0.25rem;
}


@media only screen and (max-width:800px){

  .start-learning{
    background-color:snow;
    padding: 2rem 1rem;
    width: 100%;
  }

.start-learning .image-container{
  display: none;
  }

.courses p{
  display: none;
}

.courses{
  padding: 1rem 1.5rem 0rem 1.5rem;
  display: block;

}
  

#software-engineer,
#computer-art,
#design,
#data,
#business,
#marketing {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem 0rem;
  background-color: silver;
  }

 .courses h3{
    padding: 0;
  }

  .start-learning-text{
    padding: 0;
  }
  }

  .start-learning .title{

    display: block;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Mukta', 'sans-serif';
    color:hsl(0,  0%,  20%);
    text-align: center;
    padding-bottom: 0rem;
    line-height: 1;
  }


/* --------THESIS EXHIBIT-------- */

.thesis-exhibit-section{
  position:relative;
  font-family: "Mukta";
  background-color:whitesmoke;
  padding-left: 4.5rem;
  /* padding-right: 4.5rem; */
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px lightgrey solid;


}

.thesis-exhibit-section .title{

  display: block;
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Mukta', 'sans-serif';
  color:hsl(0,  0%,  20%);
  text-align: center;
  padding-bottom: 2rem;
}




.thesis-exhibit{
  position: relative;

  padding-left: 1.5rem;
  background-color:whitesmoke;
  display:flex;
  max-width:100%;


}

.thesis-exhibit-video{
  flex-basis: 60vw;
  padding-right: 1.5rem;


}


.thesis-exhibit-video video{

  max-width: 100%;
  height: auto;
  margin-bottom:2rem;

}

.thesis-exhibit-video .title{
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Mukta', 'sans-serif';
  color:hsl(0,  0%,  20%);
  text-align:left;
  line-height: 2.5rem;
}

.te-more-info{
  flex-basis: 40vw;
  text-align: left;

  /* vertical-align: center; */
  color:hsl(0,  0%,  20%);
  position: relative;
  display:flex;
  flex-direction: column;
  align-content: left;
  justify-content: start;
  font-family: "Mukta";
  /* padding-right: 9rem; */
  width: 100%;



}


.te-first-info{
  display:flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px lightgrey solid;
  width:100%;
  background-color: silver;



}




.te-second-info{
display:flex;
padding: 1rem;
width:100%;
align-items: center;


}

.te-more-info img {

  width: 100%;
  height: auto;

}

.fisma-text, .now-then-text{
  flex-basis: 65%;
  padding-left: 1.5rem;


  }


  .te-more-info .image-container{

    flex: 1 1 35%;
    min-width: 35%;
  }

  .te-more-info p {
    line-height: 1.5rem;
 }

 .te-more-info h3{
  line-height: 3rem;

}


@media only screen and (max-width:800px){

  .te-more-info{
   display:none;
  }

  .thesis-exhibit-section p, .thesis-exhibit-section .title {
    display:none;
  }

  .thesis-exhibit-section {
    padding:0;
    border:none;
    
  }

  .thesis-exhibit {
    padding:0;

  }
  .thesis-exhibit-video {
    padding:0;
    flex-basis: 100%;
    height: auto;
  }

  .thesis-exhibit-section video{
    padding: 0;
    margin: 0;
   
    height:auto;
    border: 1px lightgrey solid;
  }
}

/* --------FOOTER-------- */



footer{


  background-color: whitesmoke;
  display:flex;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

#footer-nav{

  height: 100%;
  }

#footer-nav li{
  display:inline-block;
}

#footer-nav ul{
  display:inline-block;


}

#footer-nav .terms{



    margin-right: 1rem;
    margin-left: 0rem;

}

@media only screen and (max-width:800px){

  #footer-nav{
    display:none;
  }
footer{
  margin-top: 1.5rem;
  display:block;
}

.copyright{
padding: 1rem;
}
}
